<h1>Level: <%= @post.title%></h1>

<p>Institution: <%= @post.content %></p>

<p><%= link_to "Edit Post", edit_url(@post.id) %></p>

<p><%= link_to "Delete Post", show_url(@post.id), :method => 'delete' %></p>

<p><%= link_to "Go Back", posts_url %></p>
